/* TransactionHistory.module.css */

.transactionHistory {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transactionHistory th,
.transactionHistory td {
  padding: 5px;
  padding-left: 50px;
  border: 2px solid #3f3f3f;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  width: 130px;
  height: 30px;
}

.transactionHistory th {
  background-color: #242424;
  font-weight: bold;
  color: #fff;
  border: 2px solid #3f3f3f;
}
/* Чергування кольорів рядків таблиці */

/* Рядки з непарними індексами */
.transactionHistory tr:nth-child(odd) {
  background-color: #fff;
}

/* Рядки з парними індексами */

.transactionHistory tr:nth-child(even) {
  background-color: #d3d3d3;
}
